<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
    
  </p>
  <div>
    Nilai = {{nilaiStr}}
  </div>
  <div>
    Nilai Array Number
    <ion-item *ngFor=" let data0 of nilaiAry0">
       {{data0}}
    </ion-item>
  </div>
  <div>
    Nilai Array Campuran
    <ion-item *ngFor="let data1 of nilaiAry1">
      {{data1}}
    </ion-item>
  </div>
</ion-content>

